@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}
button{
  cursor: pointer;
}

ul{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: black;
}
.light-theme{
  background-color: white;

}
.dark-theme{
  background-color: black;
}
.dark-theme .rating-value{
  color: white;
}
.dark-theme .header-bar{
  /* background-color: rgb(74, 74, 74); */
  background-color: rgb(22, 22, 22);
  color: white;
  box-shadow: 0 15px 40px -20px white;
}
.dark-theme .logo-div{
  color: white;
}
.dark-theme a{
  color: white;
}